.pf-v6-c-wizard__main-body{
  .rbac-c-selected-chips {
    padding-bottom: var(--pf-t--global--spacer--md);
    .pf-v6-c-chip-group {
      background-color: var(--pf-t--global--background--color--primary--default);
      .pf-v6-c-chip-group__list{
        .pf-v6-c-chip-group__list-item {
          .pf-v6-c-chip {
            background-color: var(--pf-t--global--color--brand--default);
            border-radius: var(--pf-t--global--border--radius--large);
            .pf-v6-c-chip__text{
              font-size: var(--pf-t--global--font--size--sm);
            }
          }
         .pf-v6-c-chip::before {
            border-style: none;
         }
        }
      }
    }
  }
}
