.rbac-l-myUserAccess-section__cards--unentitled {
  .pf-v6-c-title {
    border-top: 1px solid var(--pf-t--global--color--default);
    padding-top: var(--pf-t--global--spacer--md);
  }
  .rbac-c-mua-cardWrapper {
    cursor: not-allowed;
  }
}
