.rbac-l-stack__item-summary {
  .pf-v6-l-grid {
    margin-bottom: var(--pf-t--global--spacer--md);
  }
}

.rbac-bold-text {
    font-weight: var(--pf-t--global--font--weight--body--bold);
}

.rbac-c-root {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .rbac-m-hide-on-md {display: none;}
}

@media only screen and (max-width: 768px) {
  .rbac-m-hide-on-sm {display: none;}

  .rbac__user-row .pf-v6-c-label{
    width: max-content;
  }

  .ins-c-conditional-filter {
    .pf-v6-l-split__item.pf-m-fill {
      flex-grow: .8;
    }
  }

  .pf-v6-c-empty-state__content {
    h4.pf-v6-c-title {
      font-size: var(--pf-v6-c-title--m-2xl--FontSize);
    }
    .pf-v6-c-empty-state__icon {
      font-size: var(--pf-v6-c-empty-state--m-xl__icon--FontSize);
    }
  }
}
